---
layout: default
title: ITP Residents
---

{% for post in site.posts limit:5 %}
  <div class="post-list">
    <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    <h3>by {{post.author}}</h3>
    <h4>{{post.categories}}</h4>
    <div class="post-content">{{post.content}}</div>
{% endfor %}

{% for post in site.posts offset:5 %}
  <div class="post-short">
    <div class="short-post-content">{{post.categories}}</div>
    <div class="short-post-title"><a href="{{post.url}}">{{post.title}}</a></div>
    <p>
      by <span class="short-post-author">{{post.author}}</span> on <span class="short-post-date">{{post.date | date: "%m-%d-%Y"}}</span>
    </p>
  </div>
{% endfor %}